@import 'vars';
.MenuF{
  background-color: var(--blancoobscuro);
  border-radius: 5px;
  max-height: 400px;
  overflow: auto;
}

.MenuF .card {
    display: flex;
   
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    
  }
  
  .MenuF .card  .card-img {
    margin-right: 10px;
     width: 200px;
  }
  
  .card-img img {
    max-width: 100%;
    
   
    border-radius: 25px;
  }
  
  .card-body {
    flex: 1;
  }
  
  .card-title {
    font-size: 18px;
    margin: 0 0 10px;
  }
  
  .card-description {
    font-size: 14px;
    margin: 0;
  }
  
  .card-price {
    margin-left: auto;
    text-align: right;
  }
  
  .card-currency {
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
  }
  
  .card-amount {
    font-size: 18px;
    font-weight: bold;
  }
/* Media query para pantallas pequeñas */
@media screen and (max-width: 767px) {
  /* Cambiar la dirección de los elementos */
  .MenuF{
    width: 300px;
    margin-left: 200px;
  }
  .MenuF .card {
    flex-direction: row;
    align-items: center;
    
  }
  .MenuF .card .card-img {
    margin-right: 10px;
    margin-bottom: 0;
    max-width: none;
  }
  .card-body {
    flex: 1;
    
  }
  /* Ajustar el tamaño de la imagen */
  .MenuF .card .card-img img {
    max-width: 100px;
    max-height: 100px;
  }
  /* Ajustar los estilos del precio */
  .card-price {
    margin: 0 5px 5px 0;
    text-align: left;
  }
}
